<ng-container *ngIf="showShell">
    <app-header></app-header>
</ng-container>

<div [class.content]="showShell">

    <router-outlet></router-outlet>

</div>

<app-message-modal></app-message-modal>
<app-loader></app-loader>
<app-image-preview></app-image-preview>

<a
    *ngIf="showPublicContact"
    class="whatsapp-contact"
    href="https://wa.me/919823300308?text=Hello%20Cricbids%2C%20I%20would%20like%20to%20know%20more%20about%20your%20auction%20software."
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Contact Cricbids on WhatsApp"
    (click)="trackWhatsAppContact()"
>
    <svg class="whatsapp-icon" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
        <path d="M16 3a13 13 0 0 0-11.1 19.8L3 29l6.4-1.7A13 13 0 1 0 16 3Zm0 23.7a10.6 10.6 0 0 1-5.4-1.5l-.4-.2-3.8 1 1-3.7-.3-.4A10.6 10.6 0 1 1 16 26.7Zm5.8-7.9c-.3-.2-1.8-.9-2.1-1s-.5-.2-.7.2-.8 1-.9 1.2-.3.3-.6.1a8.6 8.6 0 0 1-2.5-1.5 9.4 9.4 0 0 1-1.7-2.1c-.2-.3 0-.4.1-.6l.5-.5c.2-.2.2-.3.3-.5s0-.4 0-.5l-1-2.4c-.3-.7-.6-.6-.8-.6h-.7c-.3 0-.6.1-.9.4s-1.2 1.2-1.2 3 1.2 3.5 1.4 3.8a12.1 12.1 0 0 0 4.6 4.2c.6.3 1 .5 1.4.6.6.2 1.1.2 1.5.1.5-.1 1.8-.7 2-1.4s.3-1.3.2-1.4-.2-.2-.5-.4Z" fill="currentColor"/>
    </svg>
</a>
